@charset "UTF-8";
* { box-sizing: border-box }
body { color: #505050 }
body.no-scroll {
  overflow-y: hidden;
  transition: all .35s ease-in-out;
}
/* a { color: #1a0dab } */
a { color: inherit }
::selection {
  background-color: #ffcc00;
  color: #000;
  text-shadow: 0 0 0 transparent
}
.mtb-15 { margin-bottom: 15px; margin-top: 15px }
.bold { font-weight: bold }
.sup { font-size: 85%; vertical-align: top }
/* back-ground and colors */
.default-bg-color {
  background-color: #ffcc00;
  border-color: #ffcc00
}
/* Forms */
fieldset {
  border: 0;
  margin: 0;
  padding: 0 15px
}
fieldset.fluid { padding: 0 }
legend {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 15px 0 45px
}
.form-group ::-ms-input-placeholder {
  color: transparent;
  text-align: right
}
.form-group :focus::-ms-input-placeholder { color: #999 }
.form-group ::placeholder {
  color: #999;
  text-align: right
}
.form-group {
  position: relative;
  margin-bottom: 45px;
  transition: all .35s ease-in-out
}
.form-group textarea { height: 80px !important; resize: none }
.form-group textarea + .form-label { top: 18px }
.form-group textarea::placeholder { vertical-align: baseline }
.form-group .form-label {
  cursor: text;
  font-size: .9rem;
  font-weight: normal;
  user-select: none
}
.form-group .aux-effect { position: absolute; left: 0; top: 100%; width: 100%}
.form-group .aux-effect:after {
  background-color: #ffcc00;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: calc(100% - 4px);
  transition: width .60s ease-in-out;
  width: 0
}
.form-group :focus ~ .aux-effect:after {
  position: absolute;
  width: calc(100%)
}
.form-group .form-label small { font-size: .66em }
.form-group .form-label i {
  color: transparent;
  float: right;
  font-size: 1.5rem !important;
  margin-top: -1.8px;
  position: absolute;
  right: 15px;
  top: 0;
  transition: color .35s ease-in-out
}
.form-group .form-control {
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  border-bottom-width: 4px;
  color: #505050;
  font-size: .8rem;
  padding: .7rem .6rem;
  width: 100%
}
.form-group .form-control:not(:-moz-read-only),
.form-group select.form-control {
  background-color: #fbfbfb;
  border-top-color: #ddd;
  border-top-width: 1px;
}
.form-group .form-control:not(:read-only),
.form-group select.form-control {
  background-color: #fbfbfb;
  border-top-color: #ddd;
  border-top-width: 1px;
}
.form-group .form-control:focus:not(:placeholder-shown):not(:valid) { border-color: #faebcc }
.form-group .form-control:valid:not(:placeholder-shown) + .form-label i.success { color: #468847 }
.form-group .form-control:invalid:not(:placeholder-shown):not(select) + .form-label i.error { color: #a94442 }
.form-group .form-control:valid:not(:placeholder-shown):not(select) + .form-label i.success { color: #468847 }
.form-group .form-control:valid:not(:focus):not(:placeholder-shown) { border-color: #dff0d8 }
.form-group .form-control:invalid:not(:focus):not(:placeholder-shown):not(select) { border-color: #ebccd1 }
.form-group .form-control:invalid:not(:focus):not(:placeholder-shown):not(select) + label { color: #a94442 }
.form-group .form-control:valid:not(:placeholder-shown) + .form-label i.success,
.form-group .form-control:invalid:not(:placeholder-shown):not(.uselect) + .form-label i.error {
  font-size: inherit;
  padding: 1px;
  text-shadow: 0 0 1px
}
.form-group .form-label.focusIn { top: -10px }
.form-group .form-label {
  color: #505050;
  font-weight: 400;
  height: 25px;
  left: 10px;
  line-height: 25px;
  margin: -13px 0 0;
  position: absolute;
  transition: all .35s ease;
  top: 50%;
  width: 100%
}
.form-group :required + .form-label:after { content: '*' }
.form-group .form-label.focusIn,
.form-group .form-control:read-only:not(select) + .form-label,
.form-group .form-control:moz-read-only:not(select) + .form-label,
.form-group .form-control:focus + .form-label,
.form-group .form-control:valid:not(:placeholder-shown) + .form-label {
  font-weight: 600;
  height: 20px;
  left: 0;
  line-height: 20px;
  padding: 0 7px;
  top: -10px
}
.form-group .form-control:invalid:not(:focus):not(.nselect) { color: transparent !important }
.form-group .form-control:invalid:not(:focus):not(.unselect)::placeholder { color: transparent }
.form-group .form-control:read-only:not(select),
.form-group .form-control:moz-read-only:not(select) { border-bottom-color: #eee; cursor: text; font-weight: bold }

.form-control-check,
.form-control-radio {
  margin: 5px 7px;
  position: absolute;
}
.form-control-check + label,
.form-control-radio + label {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .9rem;
  height: 27px;
  line-height: 27px;
  margin-bottom: 10px;
  padding-bottom: 35px;
  padding-left: 32px;
  position: relative
}
.form-control-check + label:before,
.form-control-radio + label:before {
  background-color: #fff;
  content: '';
  border: 1px solid #ccc;
  box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, .06);
  display: inline-block;
  margin-top: -1.5px;
  left: 0;
  position: absolute;
  top: 0;
  height: 23px;
  width: 23px;
  z-index: 1;
}
.form-control-radio + label:before,
.form-control-radio + label:after  { border-radius: 100px }
.form-control-check:checked + label:before,
.form-control-radio:checked + label:before { border-color: #ffcc00; box-shadow: 0 0 0 transparent }
.form-control-check + label:after,
.form-control-radio + label:after {
  background-color: #ffcc00;
  content: '';
  display: inline-block;
  height: 19px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 2px;
  transform: scale(2);
  transition: all .65s ease-in-out;
  width: 19px;
  z-index: 1;
}
.form-control-check:checked + label:after,
.form-control-radio:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* buttons */
.button {
  border-style: solid;
  border-width: 4px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}
.button.small { font-size: .85rem; padding: .6rem 1.2rem }
.button.medium { font-size: .9rem; padding: .8rem 2rem }
.button.big { font-size: 1rem; padding: 1rem 3rem }
.button.block { display: block }
.helper-tooltip { cursor: help }
.helper-tooltip:after {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTEuNSAyQzYuODEgMiAzIDUuODEgMyAxMC41UzYuODEgMTkgMTEuNSAxOWguNXYzYzQuODYtMi4zNCA4LTcgOC0xMS41QzIwIDUuODEgMTYuMTkgMiAxMS41IDJ6bTEgMTQuNWgtMnYtMmgydjJ6bTAtMy41aC0yYzAtMy4yNSAzLTMgMy01IDAtMS4xLS45LTItMi0ycy0yIC45LTIgMmgtMmMwLTIuMjEgMS43OS00IDQtNHM0IDEuNzkgNCA0YzAgMi41LTMgMi43NS0zIDV6Ii8+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPjwvc3ZnPg==') no-repeat center center;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 16px;
  margin-left: 2px;
  opacity: .6;
  position: relative;
  top: 3px;
  user-select: none;
  width: 16px
}
.helper-tooltip:before {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 5px;
  box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .2), 0 0 10px 3px rgba(0, 0, 0, .2);
  color: #fff;
  content: attr(data-title);
  font-size: .8rem;
  font-weight: normal;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  text-shadow: 0 0 1px rgba(0, 0, 0, .5);
  top: 100%;
  transition: opacity .35s ease-in-out;
  z-index: -1
}
.helper-tooltip:active:before,
.helper-tooltip:hover:before { opacity: 1; z-index: 1 }

/* Tipografia */
.h1, .h2, .h3, .h4, .h5, .h6 { display: block; font-weight: bold; margin: 10px 0 20px }
.h1 { font-size: 1.5rem } .h2 { font-size: 1.5rem } .h3 { font-size: 1.17rem }
.h4 { font-size: 1.07rem } .h5 { font-size: .83rem } .h6 { font-size: .67rem }
article p {
  font-size: .9rem;
  margin: 0 0 15px;
  line-height: 1.5
}
/* Card-list-car */
.card-list-car, .car-image,
.car-title, .car-price { display: block }
.card-list-car {
  background-color: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
}
.card-list-car:before {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 100px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .1);
  content: '';
  height: 30%;
  left: 50%;
  margin-left: -40%;
  position: absolute;
  top: 68%;
  width: 80%;
  z-index: -1
}
.car-image { height: 190px }
.car-image img { height: 100%; object-fit: cover; width: 100% }
.car-title { font-size: .9rem; height: 50px; padding: 10px }
.car-price {
  background-color: #f6f6f6;
  border-bottom: 3px solid #ffcc00;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 10px 10px
}
.car-detail {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ddd;
  display: table;
  height: 35px;
  width: 100%
}
.car-detail > span {
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle
}
.car-detail > span > span {
  color: #666;
  font-size: .7rem;
  display: inline-block;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 0 0;
  text-transform: uppercase
}
.car-detail i { color: #666; font-size: 1rem; position: relative; top: 2px }
/* Modal */
.modal {
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity .35s ease-in-out;
  width: 0;
  z-index: 9
}
.modal.opened {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  opacity: 1;
  overflow-y: auto;
  width: 100%
}
.modal .close-button {
  color: #505050;
  height: 28px;
  position: absolute;
  right: 9px;
  text-align: center;
  top: 9px;
  width: 28px
}
.modal .close-button:hover { color: #ffcc00 }
.modal .close-button i {
  font-size: 2rem;
  line-height: 28px
}
.modal-dialog {
  height: 0;
  left: 50%;
  margin-bottom: 100px;
  margin-left: -300px;
  position: absolute;
  top: -100%;
  width: 0px;
  z-index: 1
}
.modal.opened .modal-dialog {
  height: auto;
  top: 100px;
  transition: top .35s ease-in-out;
  width: 600px;
}
@media (max-width: 610px) {
  .modal.opened .modal-dialog {
    left: 5%;
    margin-left: 0;
    margin-bottom: 25px;
    width: 90%;
  }
  .modal.opened .modal-dialog { top: 25px }
}
.modal-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1),
              0 0 10px 5px rgba(0, 0, 0, .1);
  padding: 15px 30px 45px
}
